/* クラス .  id # */
/*共通項目*/
* {
    color: #4A4A4A;
    font-weight: 400;
    text-align: center;
}

h1 {
    color: white;
    font-size: 1.5em;
    background-color: #90CE9C;
    padding: 40px;
    text-align: center;
}

.hidden {
    display: none;
}

.buttons {
    text-align: center;
    margin: 30px 0px 0px 20px;
}

/* 商品選択ダイアログ */ 
#SelectFunds {
    display: none;
}

.productSelection table { 
    margin:0 auto; 
    padding: 10px; 
    border-collapse: collapse;
    border: solid 2px #C8DCCF;
} 

.productSelection th, .productSelection td {
    border: solid 2px #C8DCCF;
    font-size: 0.6em;
}

.fundnameWidth{
    width:130px;
}
    
.returnWidth {
    width:60px; 
}

.volaWidth {
    width:60px; 
}

.companyWidth {
    width:200px; 
}

.detailWidth {
    width:200px; 
}

.productSelection input { 
    transform: scale(1.5) 
}

/*選択された商品・割合*/
.fundsWeight {
    margin-top: 20px;
    width: 100%;
}

.FundsWeight th {
    padding: auto;
    text-align: center;
}

.FundsWeight #selectedFund1,
.FundsWeight #selectedFund2 {
    padding: 15px;
    border: 1px solid #d8f1dd;
    border-radius: 10px;
    font-size: 1.3em;
    font-weight: bold;
    color: #90CE9C;
}

.fundsWeight input {
    font-size: 1em;
    padding: 10px;
    font-size: 1em;
    padding: 10px;
    border: 1px solid #d8f1dd;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    max-width: 80px;
    

/* 比率入力部分 */
.weightInputs table th {
    text-align: center;
}



/* 入力フォーム */
.formContainer {
    max-width:850px;
    margin:0 auto;
}

.formContainer table {
    margin: auto;
    text-align: center;
}

.formContainer th,.formContainer td {
    padding: 10px;
    width: 100px;
}

.formContainer input {
    margin-bottom: 10px;
}

.formContainer input:first-of-type {
    margin-top: 10px;
}

.formContainer textarea {
    height: 100px;
    margin-bottom: 10px;
}
.formContainer input, textarea {
    font-size: 1em;
    padding: 10px;
    border: 1px solid #d8f1dd;
    background: #d8f1dd;
    border-radius: 10px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 90%;
    max-width: 80px;
}

.formContainer input:focus {
    border:  1px solid #90CE9C;
    outline: 0;
}

/*ボタン*/

/*商品選択ボタン*/
#productSelectionButton {
    align-items: center;
    width: 40%;
    margin: 10px auto;
    padding: 0.8em 3.2em;
    font-size: 0.7em;
    border-radius: 30px;
    border:2px solid #90CE9C;
    color: #90CE9C;
    background-color: white;
    cursor: pointer;
}

/*ライフイベント、詳細設定ボタン*/
#lifeEventsButton , #advancedSettingButton {
    padding: 10px 20px;
    border-radius: 50px;
    border: 2px solid #90CE9C;
    color: #90CE9C;
    background-color: white;
    cursor: pointer;
}

#productSelectionButton:hover, #lifeEventsButton:hover, #advancedSettingButton:hover {
    transform: scale(1.03);
}

.lifeEvents, .advancedSetting {
    display: none;
}

.display {
    display: block; /* toggleClassで表示 */
}

/*エラーメッセージ*/
.validColor {
    color: #E85C5C;
}

/* 年変化 */
.annualChangePeriod {
    position: relative;
}

.annualChangePeriod::before, .annualChangePeriod::after {
    position: absolute;
    content: '';
    pointer-events: none;
}

.annualChangePeriod::before {
    display: inline-block;
    right: 4.5px;
    border-radius: 0 5px 5px 0;
    background-color: #90CE9C;
}

.annualChangePeriod::after {
    position: absolute;
    top: 50%;
    right: 1.4em;
    transform: translate(50%, -50%) rotate(45deg);
    width: 5px;
    height: 5px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
}

.annualChangePeriod select {
    appearance: none;
    min-width: 100px;
    height: 2.2em;
    padding: .4em 3.6em .4em .8em;
    border: none;
    border-radius: 5px;
    background-color: #E8F5EB;
    color: #4A4A4A;
    font-size: 1em;
    cursor: pointer;
}

.annualChangePeriod select:focus {
    outline: 2px solid #6ABF7E;
    cursor: pointer;
}

/*開始ボタン*/
.start {
    color: white;
    background-color: #6ABF7E;
    padding: 20px 30px;
    border-radius: 50px;
    width: 70%;
    border: none;
    cursor: pointer;
}

/*シミュレーション情報*/
.paramList table {
    width:90%; 
    margin:0 auto; 
    -webkit-border-radius:6px; 
    -moz-border-radius:6px; 
    border-radius:6px; 
    padding: 10px; 
    border: solid 2px #C8DCCF;
    font-size: 0.6em;
}

.paramList th {
    border-collapse: collapse; 
    border: solid 2px #C8DCCF; 
}

/* グラフ表示 */ 
.chartContainer {
    width:80%; 
    margin:0 auto; 
} 
