* {
    color: rgb(104, 104, 104);
    font-weight: 400;
    font-size: 1.1vw;
    text-align: left;
}

h2 {
    margin: 30px;
    font-size: 2.5em;
    font-weight: bold;

}

table {
    margin: auto;
    padding: 10px;
    border-collapse: collapse;
}

thead {
    background-color: #90ce9c60;
    font-weight: 500;

}

th,td {
    padding: 10px;
    border: solid 1px;
}
