* {
    color: rgb(104, 104, 104);
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    margin: 20px 40px;

}

h2 {

}

h3 {

}

table {

}

.company {
    font-size: 70%;
}