<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
    
    <head>
        <meta charset="UTF-8">
        <title>新NISA 資産形成シミュレーションシステム</title>
        <link rel="stylesheet" th:href="@{/jquery-ui.min.css}">
        <link rel="stylesheet" th:href="@{/mainpage.css}">
        <script src="https://code.jquery.com/jquery.js"></script>
        <script type="text/javascript" th:src="@{/jquery-ui.min.js}"></script>
    </head>

    <body>
        <h1>新NISA資産形成シミュレーション</h1>

        <!-- 入力必須項目 -->
        <br>
        <button type="button" id="productSelectionButton">金融商品選択  >&emsp;</button>
        <div id="dialog">
            <div th:insert="~{dialog :: productSelection_body}"></div>
        </div>
        <br><br>
        
        <form action="?"> <!-- ユーザーの入力値を送信するフォーム クエリパラメータで自己ページへ送信という意味？ -->
            <div class="formContainer">
                <table>
                    <tr>
                        <th><label>期待収益率</label></th>
                        <th><input name="expectedRateOfReturn" id="expectedRateOfReturn" type="text" /> %</th>
                        <div th:text="${expectedRateOfReturnError}" class="validColor"></div>
                        
                        <th><label>&emsp;ボラティリティ</label></th>
                        <th><input name="volatility" id="volatility" type="text" /> %</th>
                        <div th:text="${volatilityError}" class="validColor"></div>
                    </tr>
                    <tr>
                        <th colspan="2" style="text-align: right"><label>シミュレーション開始年齢</label></th>
                        <th><input name="startAge" type="text" />
                            <div th:text="${startAgeError}" class="validColor"></div> &emsp;歳</th>
                    </tr>
                    <tr>
                        <th colspan="2"style="text-align: right"><label>つみたて月額</label></th>
                        <th><input name="monthlySavings" type="text" />
                            <div th:text="${monthlySavingsError}" class="validColor"></div>&emsp;万</th>
                    </tr>
                    <tr>
                        <th colspan="2"style="text-align: right"><label>つみたて額初期値</label></th>
                        <th><input name="initialValue" type="text" />
                            <div th:text="${initialValueError}" class="validColor"></div>&emsp;万</th>
                    </tr>
                </table>

                <!-- 入力任意項目（ライフイベント） -->
                <div class="buttons">
                    <button type="button" id="lifePlanButton"> + ライフイベントを追加</button>
                </div>
            
                <table>
                    <tr class="lifeEvents">
                        <th style="text-align: right">ライフイベント 1</th>
                        <td>
                            <input name="lifeEvent1" type="text" placeholder="結婚" />
                        </td>
                        <th style="text-align: right"> &emsp;&emsp;年齢 </th>
                        <td>
                            <input name="lifeEventAge1" type="text" placeholder="30" />
                            <div th:text="${lifeEventAge1Error}" class="validColor"></div>
                        </td>
                        <th style="text-align: right"> &emsp;&emsp;必要資金(万) </th>
                        <td>
                            <input name="requiredFunds1" type="text" placeholder="327" />
                            <div th:text="${requiredFunds1Error}" class="validColor"></div>
                        </td>
                    </tr>
    
                    <tr class="lifeEvents">
                        <th style="text-align: right">ライフイベント 2</th>
                        <td>
                            <input name="lifeEvent2" type="text" placeholder="住宅購入" />
                        </td>
                        <th style="text-align: right"> &emsp;&emsp;年齢 </th>
                        <td>
                            <input name="lifeEventAge2" type="text" placeholder="30" />
                            <div th:text="${lifeEventAge2Error}" class="validColor"></div>
                        </td>
                        <th style="text-align: right"> &emsp;&emsp;必要資金(万) </th>
                        <td>
                            <input name="requiredFunds2" type="text" placeholder="3719" />
                            <div th:text="${requiredFunds2Error}" class="validColor"></div>
                        </td>
                    </tr>
    
                    <tr class="lifeEvents">
                        <th style="text-align: right">ライフイベント 3</th>
                        <td>
                            <input name="lifeEvent3" type="text" placeholder="出産" />
                        </td>
                        <th style="text-align: right"> &emsp;&emsp;年齢 </th>
                        <td>
                            <input name="lifeEventAge3" type="text" placeholder="33" />
                            <div th:text="${lifeEventAge3Error}" class="validColor"></div>
                        </td>
                        <th style="text-align: right"> &emsp;&emsp;必要資金(万) </th>
                        <td>
                            <input name="requiredFunds3" type="text" placeholder="48" />
                            <div th:text="${requiredFunds3Error}" class="validColor"></div>
                        </td>
                    </tr>
    
                    <tr class="lifeEvents">
                        <th style="text-align: right">ライフイベント 4</th>
                        <td>
                            <input name="lifeEvent4" type="text" placeholder="教育費1" />
                        </td>
                        <th style="text-align: right"> &emsp;&emsp;年齢 </th>
                        <td>
                            <input name="lifeEventAge4" type="text" placeholder="40" />
                            <div th:text="${lifeEventAge4Error}" class="validColor"></div>
                        </td>
                        <th style="text-align: right"> &emsp;&emsp;必要資金(万) </th>
                        <td>
                            <input name="requiredFunds4" type="text" placeholder="100" />
                            <div th:text="${requiredFunds4Error}" class="validColor"></div>
                        </td>
                    </tr>
                    
                    <tr class="lifeEvents">
                        <th style="text-align: right">ライフイベント 5</th>
                        <td>
                            <input name="lifeEvent5" type="text" placeholder="教育費2" />
                        </td>
                        <th style="text-align: right"> &emsp;&emsp;年齢 </th>
                        <td>
                            <input name="lifeEventAge5" type="text" placeholder="50" />
                            <div th:text="${lifeEventAge5Error}" class="validColor"></div>
                        </td>
                        <th style="text-align: right"> &emsp;&emsp;必要資金(万) </th>
                        <td>
                            <input name="requiredFunds5" type="text" placeholder="400" />
                            <div th:text="${requiredFunds5Error}" class="validColor"></div>
                        </td>
                   </tr>
                </table>

                <!-- 入力任意項目（詳細設定） -->
                <div class="buttons">
                    <button type="button" id="advancedSettingButton">+ 詳細設定を追加</button>
                </div>
            
                <table>
                    <tr class="advancedSettings">
                        <th colspan="2" style="text-align: right"><label>年変化</label></th>
                        <th><span>つみたて月額を</span>
                            <label class="annualChangePeriod">
                                <select name="annualChangePeriod">
                                    <option></option>
                                    <option>6か月</option>
                                    <option>1年</option>
                                    <option>3年</option>
                                    <option>5年</option>
                                </select>
                            </label>
                            <span>ごとに</span>
                            <input name="annualChangeMoney" type="text" />
                            <span>万円増やす</span>
                            <div th:text="${annualChangeMoneyError}" class="validColor"></div>
                        </th>
                    </tr>
            
                    <tr class="advancedSettings">
                        <th colspan="2" style="text-align: right"><label>シミュレーション終了年齢</label></th>
                        <th><input name="endingAge" type="text" />
                            <div th:text="${endingAgeError}" class="validColor"></div> 歳</th>
                    </tr>
                </table>
            </div>
            
            <div class="buttons">
                <input type="submit" class="start" value="開始" formaction="/add" />
            </div>
        </form>
        

        <!-- シミュレーション設定 -->
        <div class="paramList">
            <table>
                <thead>
                    <tr>
                        <th class="hidden">ID</th>
                        <th>期待収益率</th>
                        <th>ボラティリティ</th>
                        <th>シミュレーション開始年齢</th>
                        <th>つみたて月額</th>
                        <th>つみたて額初期値</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="params : ${params}">
                        <td class="hidden" th:text="${params.id}"></td>
                        <td th:text="${params.expectedRateOfReturn} + '%'"></td>
                        <td th:text="${params.volatility} + '%'"></td>
                        <td th:text="${params.startAge} + '歳'"></td>
                        <td th:text="${params.monthlySavings} + '万'"></td>
                        <td th:text="${params.initialValue} + '万'"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th colspan="5">ライフイベント</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="params : ${params}">
                        <td colspan="5" th:if="${params.lifeEventParams.lifeEventAge1 != 0}" th:text="'・' + ${params.lifeEventParams.lifeEventAge1} + '歳で' + ${params.lifeEventParams.lifeEvent1} + 'のため' + ${params.lifeEventParams.requiredFunds1} + '万円使用'"></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr th:each="params : ${params}">
                        <td colspan="5" th:if="${params.lifeEventParams.lifeEventAge2 != 0}" th:text="'・' + ${params.lifeEventParams.lifeEventAge2} + '歳で' + ${params.lifeEventParams.lifeEvent2} + 'のため' + ${params.lifeEventParams.requiredFunds2} + '万円使用'"></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr th:each="params : ${params}">
                        <td colspan="5" th:if="${params.lifeEventParams.lifeEventAge3 != 0}" th:text="'・' + ${params.lifeEventParams.lifeEventAge3} + '歳で' + ${params.lifeEventParams.lifeEvent3} + 'のため' + ${params.lifeEventParams.requiredFunds3} + '万円使用'"></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr th:each="params : ${params}">
                        <td colspan="5" th:if="${params.lifeEventParams.lifeEventAge4 != 0}" th:text="'・' + ${params.lifeEventParams.lifeEventAge4} + '歳で' + ${params.lifeEventParams.lifeEvent4} + 'のため' + ${params.lifeEventParams.requiredFunds4} + '万円使用'"></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr th:each="params : ${params}">
                        <td colspan="5" th:if="${params.lifeEventParams.lifeEventAge5 != 0}" th:text="'・' + ${params.lifeEventParams.lifeEventAge5} + '歳で' + ${params.lifeEventParams.lifeEvent5} + 'のため' + ${params.lifeEventParams.requiredFunds5} + '万円使用'"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th colspan="3">年変化</th>
                        <th colspan="2">シミュレーション終了年齢</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="params : ${params}">
                        <td colspan="3" th:if="${params.advancedSetting.annualChangeMonth != 0}" th:text="'つみたて月額を' + ${params.advancedSetting.annualChangeMonth} + 'か月ごとに' + ${params.advancedSetting.annualChangeMoney} + '万円増やす'"></td>
                        <td colspan="2" th:if="${params.advancedSetting.endingAge != 0}" th:text="${params.advancedSetting.endingAge} + '歳'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div  class="chartContainer">
            <canvas id="myLineChart"></canvas>
            <p>※当該評価は過去の一定期間の実績の分析結果を元に予測したものであり、 将来の運用成果等を保証したものではありません。</p>
        </div>

        <!-- シミュレーショングラフ -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script> //Chart.bungle.js読み込み
        <script th:inline="javascript">
            var ctx = document.getElementById("myLineChart"); //ctx：キャンバス
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: /*[[${monthCountList}]]*/ "monthCountList",
                    datasets: [
                        {
                            label: '上位30%',
                            data: /*[[${top30Percent}]]*/ "top30Percent",
                            borderColor: '#e14024a9',
                            backgroundColor: "rgba(0,0,0,0)"
                        },
                        {
                            label: '中央値',
                            data: /*[[${median}]]*/ "median",
                            borderColor: '#f8b500a9',
                            backgroundColor: "rgba(0,0,0,0)"
                        },
                        {
                            label: '下位30%',
                            data: /*[[${bottom30Percent}]]*/ "bottom30Percent",
                            borderColor: '#73cf54a9',
                            backgroundColor: "rgba(0,0,0,0)"
                        },
                        {
                            label: '下位10%',
                            data: /*[[${bottom10Percent}]]*/ "bottom10Percent",
                            borderColor: '#70c4e0a9',
                            backgroundColor: "rgba(0,0,0,0)"
                        },
                        {
                            label: '運用なし',
                            data: /*[[${noOperation}]]*/ "noOperation",
                            borderColor: '#666c67a9',
                            backgroundColor: "rgba(0,0,0,0)"
                        }
                    ],
                },

                <!-- グラフ設定 -->
                options: {
                    title:{ <!-- グラフ上部に表示 -->
                        display: true,
                        text: '資産額推移'
                        　},
                    
                    scales: {
                        yAxes: [{   <!-- Y軸設定 --> 
                            ticks: {
                                suggestedMax: /*[[${suggestedMax}]]*/ "suggestedMax", //縦軸最大値
                                suggestedMin: 0, //縦軸下限0
                                stepSize: /*[[${stepSize}]]*/" stepSize",//目盛の間隔
                                callback: function(value, index, values){
                                    return  value +  '万円' //縦軸の単位
                                }
                            }
                        }]
                    },
                }
            });
        </script>

        <script type="text/javascript">
            $(function(){
                $("#dialog").dialog({
                    autoOpen:false,
                    width:900,
                    height:600,
                    modal:true,
                    buttons:{
                        "選択":function(){
                            const productName = $('input:radio[name="productName"]:checked').val();
                            if (productName === 'mitsui_dc') {
                                $("#expectedRateOfReturn").val(19.117);
                                $("#volatility").val(8.677);
                                $("#productName").html('三井住友・DCつみたてNISA・日本株インデックスファンド');
                            } else if (productName === 'mitsubishi_emaxis') {
                                $("#expectedRateOfReturn").val(9.564);
                                $("#volatility").val(10.639);
                                $("#productName").html('eMAIXISバランス(8資産均等型)');
                            } else if (productName === 'nomura_nomu') {
                                $("#expectedRateOfReturn").val(10.852);
                                $("#volatility").val(14.521);
                                $("#productName").html('のむラップ・ファンド(積極型)');
                            } else if (productName === 'mitsui_smtam') {
                                $("#expectedRateOfReturn").val(17.167);
                                $("#volatility").val(20.659);
                                $("#productName").html('SMTAMダウ・ジョーンズ インデックスファンド');
                            } else if (productName === 'amova_s&p500') {
                                $("#expectedRateOfReturn").val(18.553);
                                $("#volatility").val(21.038);
                                $("#productName").html('上場インデックスファンド米国株式(S&P500)');
                            } else if (productName === 'daiwa_iFree') {
                                $("#expectedRateOfReturn").val(11.003);
                                $("#volatility").val(18.989);
                                $("#productName").html('iFreeETF JPX 日経400');
                            } else {
                                $("#expectedRateOfReturn").val();
                                $("#volatility").val();
                                $("#productName").html('');
                            }
                            $("#dialog").dialog("close");
                        },

                        <!-- ダイアログの非表示 --> 
                        "閉じる":function(){
                            $("#dialog").dialog("close");
                        }
                    }
                });
                
                <!-- ダイアログを表示 -->
                $("#productSelectionButton").click(function(){
                    $("#dialog").dialog("open");
                });
    
                <!-- ライフプランの表示非表示 --> 
                $("#lifePlanButton").click(function(){
                    $(".lifePlan").toggleClass("display");
                });
    
                <!--  詳細設定の表示非表示 -->
                $("#advancedSettingButton").click(function(){
                    $(".advancedSetting").toggleClass("display");
                });

            });
        </script>
    </body>
</html>
