<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.w3.org/1999/xhtml">
    
    <head>
        <meta charset="UTF-8">
        <title>新NISA 資産形成シミュレーションシステム</title>
         <!-- CSS -->
        <link rel="stylesheet" th:href="@{/mainpage.css}">
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

        <!-- JS -->
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.min.js"></script>
        
    </head>

    <body>
        <h1>新NISA資産形成シミュレーション</h1>

        <!-- 入力必須項目 -->
        <br>
        <button type="button" id="productSelectionButton">金融商品選択 &emsp; > </button>
        <div id="SelectFunds">
            <div th:insert="~{SelectFunds :: productSelection_body}"></div>
        </div>
        <br><br>

        <div class="formContainer">
            <table>
                <tr class= "selectedFundName" style="display:none;">
                    <th><label>商品：</label></th>
                    <th><span id="selectedFund1"></span></th>
                    <th><span id="selectedFund2"></span></th>
                </tr>
                <tr class= "weightInputs" style="display:none;">
                    <th><label>割合：</label></th>
                    <th><input type="number" id="weight1" placeholder="50"> % </th>
                    <th><input type="number" id="weight2" placeholder="50"> % </th>
                    <th><button type="button" id="FundOKButton"> 決定 </button></th>
                </tr>
            </table>
        </div>

        <br>
        
        <form action="?"> <!-- ユーザーの入力値を送信するフォーム クエリパラメータで自己ページへ送信 -->
            <div class="formContainer">
                <table>
                    <tr>
                        <th><label>期待収益率 &emsp; </label></th>
                        <th colspan="2"><input name="expectedRateOfReturn" id="expectedRateOfReturn" type="text" /> % <div th:text="${expectedRateOfReturnError}" class="validColor"></div></th>
                        
                        <th><label> &emsp; ボラティリティ &emsp; </label></th>
                        <th colspan="2"><input name="volatility" id="volatility" type="text" /> % <div th:text="${volatilityError}" class="validColor"></div></th>
                    </tr>
                    <tr>
                        <th colspan="2" style="text-align: right"><label>シミュレーション開始年齢</label></th>
                        <th colspan="2"><input name="startAge" type="text" /> 歳 <div th:text="${startAgeError}" class="validColor"></div></th>
                    </tr>
                    <tr>
                        <th colspan="2"style="text-align: right"><label>つみたて月額</label></th>
                        <th colspan="2"><input name="monthlySavings" type="text" /> 万 <div th:text="${monthlySavingsError}" class="validColor"></div></th>
                    </tr>
                    <tr>
                        <th colspan="2"style="text-align: right"><label>つみたて額初期値</label></th>
                        <th colspan="2"><input name="initialValue" type="text" /> 万 <div th:text="${initialValueError}" class="validColor"></div></th>
                    </tr>
                </table>
                <br>

                <!-- 入力任意項目（ライフイベント） -->
                <div class="buttons">
                    <button type="button" id="lifeEventsButton"> + ライフイベントを追加</button>
                </div>
            
                <table>
                    <tr class="lifeEvents">
                        <th style="text-align: right">ライフイベント 1</th>
                        <td>
                            <input name="lifeEvent1" type="text" placeholder="結婚" />
                        </td>
                        <th style="text-align: right"> &emsp;&emsp;年齢 </th>
                        <td>
                            <input name="lifeEventAge1" type="text" placeholder="30" />
                            <div th:text="${lifeEventAge1Error}" class="validColor"></div>
                        </td>
                        <th style="text-align: right"> &emsp;&emsp;必要資金(万) </th>
                        <td>
                            <input name="requiredFunds1" type="text" placeholder="327" />
                            <div th:text="${requiredFunds1Error}" class="validColor"></div>
                        </td>
                    </tr>
    
                    <tr class="lifeEvents">
                        <th style="text-align: right">ライフイベント 2</th>
                        <td>
                            <input name="lifeEvent2" type="text" placeholder="住宅購入" />
                        </td>
                        <th style="text-align: right"> &emsp;&emsp;年齢 </th>
                        <td>
                            <input name="lifeEventAge2" type="text" placeholder="30" />
                            <div th:text="${lifeEventAge2Error}" class="validColor"></div>
                        </td>
                        <th style="text-align: right"> &emsp;&emsp;必要資金(万) </th>
                        <td>
                            <input name="requiredFunds2" type="text" placeholder="3719" />
                            <div th:text="${requiredFunds2Error}" class="validColor"></div>
                        </td>
                    </tr>
    
                    <tr class="lifeEvents">
                        <th style="text-align: right">ライフイベント 3</th>
                        <td>
                            <input name="lifeEvent3" type="text" placeholder="出産" />
                        </td>
                        <th style="text-align: right"> &emsp;&emsp;年齢 </th>
                        <td>
                            <input name="lifeEventAge3" type="text" placeholder="33" />
                            <div th:text="${lifeEventAge3Error}" class="validColor"></div>
                        </td>
                        <th style="text-align: right"> &emsp;&emsp;必要資金(万) </th>
                        <td>
                            <input name="requiredFunds3" type="text" placeholder="48" />
                            <div th:text="${requiredFunds3Error}" class="validColor"></div>
                        </td>
                    </tr>
    
                    <tr class="lifeEvents">
                        <th style="text-align: right">ライフイベント 4</th>
                        <td>
                            <input name="lifeEvent4" type="text" placeholder="教育費1" />
                        </td>
                        <th style="text-align: right"> &emsp;&emsp;年齢 </th>
                        <td>
                            <input name="lifeEventAge4" type="text" placeholder="40" />
                            <div th:text="${lifeEventAge4Error}" class="validColor"></div>
                        </td>
                        <th style="text-align: right"> &emsp;&emsp;必要資金(万) </th>
                        <td>
                            <input name="requiredFunds4" type="text" placeholder="100" />
                            <div th:text="${requiredFunds4Error}" class="validColor"></div>
                        </td>
                    </tr>
                    
                    <tr class="lifeEvents">
                        <th style="text-align: right">ライフイベント 5</th>
                        <td>
                            <input name="lifeEvent5" type="text" placeholder="教育費2" />
                        </td>
                        <th style="text-align: right"> &emsp;&emsp;年齢 </th>
                        <td>
                            <input name="lifeEventAge5" type="text" placeholder="50" />
                            <div th:text="${lifeEventAge5Error}" class="validColor"></div>
                        </td>
                        <th style="text-align: right"> &emsp;&emsp;必要資金(万) </th>
                        <td>
                            <input name="requiredFunds5" type="text" placeholder="400" />
                            <div th:text="${requiredFunds5Error}" class="validColor"></div>
                        </td>
                   </tr>
                </table>

                <!-- 入力任意項目（詳細設定） -->
                <div class="buttons">
                    <button type="button" id="advancedSettingButton">+ 詳細設定を追加</button>
                </div>
            
                <table>
                    <tr class="advancedSetting">
                        <th colspan="2" style="text-align: right"><label>年変化 &emsp;&emsp; </label></th>
                        <th><span>つみたて月額を</span>
                            <label class="annualChangePeriod">
                                <select name="annualChangePeriod">
                                    <option></option>
                                    <option>6か月</option>
                                    <option>1年</option>
                                    <option>3年</option>
                                    <option>5年</option>
                                </select>
                            </label>
                            <span>ごとに</span>
                            <input name="annualChangeMoney" type="text" />
                            <span>万円増やす</span>
                            <div th:text="${annualChangeMoneyError}" class="validColor"></div>
                        </th>
                    </tr>
            
                    <tr class="advancedSetting">
                        <th colspan="2" style="text-align: right"><label>シミュレーション終了年齢</label></th>
                        <th><input name="endingAge" type="text" />歳<div th:text="${endingAgeError}" class="validColor"></div></th>
                    </tr>
                </table>
            </div>
            
            <div class="buttons">
                <input type="submit" class="start" value="開始" formaction="/add" />
            </div>

            <hr>
            <br>
            
        </form>
        

        <!-- シミュレーション設定 -->
        <div class="paramList">
            <table>
                <thead>
                    <tr>
                        <th class="hidden">ID</th>
                        <th>期待収益率</th>
                        <th>ボラティリティ</th>
                        <th>シミュレーション開始年齢</th>
                        <th>つみたて月額</th>
                        <th>つみたて額初期値</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="params : ${params}">
                        <td class="hidden" th:text="${params.id}"></td>
                        <td th:text="${params.expectedRateOfReturn} + '%'"></td>
                        <td th:text="${params.volatility} + '%'"></td>
                        <td th:text="${params.startAge} + '歳'"></td>
                        <td th:text="${params.monthlySavings} + '万'"></td>
                        <td th:text="${params.initialValue} + '万'"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th colspan="5">ライフイベント</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="params : ${params}">
                        <td colspan="5" th:if="${params.lifeEventParams.lifeEventAge1 != 0}" th:text="'・' + ${params.lifeEventParams.lifeEventAge1} + '歳で' + ${params.lifeEventParams.lifeEvent1} + 'のため' + ${params.lifeEventParams.requiredFunds1} + '万円使用'"></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr th:each="params : ${params}">
                        <td colspan="5" th:if="${params.lifeEventParams.lifeEventAge2 != 0}" th:text="'・' + ${params.lifeEventParams.lifeEventAge2} + '歳で' + ${params.lifeEventParams.lifeEvent2} + 'のため' + ${params.lifeEventParams.requiredFunds2} + '万円使用'"></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr th:each="params : ${params}">
                        <td colspan="5" th:if="${params.lifeEventParams.lifeEventAge3 != 0}" th:text="'・' + ${params.lifeEventParams.lifeEventAge3} + '歳で' + ${params.lifeEventParams.lifeEvent3} + 'のため' + ${params.lifeEventParams.requiredFunds3} + '万円使用'"></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr th:each="params : ${params}">
                        <td colspan="5" th:if="${params.lifeEventParams.lifeEventAge4 != 0}" th:text="'・' + ${params.lifeEventParams.lifeEventAge4} + '歳で' + ${params.lifeEventParams.lifeEvent4} + 'のため' + ${params.lifeEventParams.requiredFunds4} + '万円使用'"></td>
                    </tr>
                </tbody>
                <tbody>
                    <tr th:each="params : ${params}">
                        <td colspan="5" th:if="${params.lifeEventParams.lifeEventAge5 != 0}" th:text="'・' + ${params.lifeEventParams.lifeEventAge5} + '歳で' + ${params.lifeEventParams.lifeEvent5} + 'のため' + ${params.lifeEventParams.requiredFunds5} + '万円使用'"></td>
                    </tr>
                </tbody>
                <thead>
                    <tr>
                        <th colspan="3">年変化</th>
                        <th colspan="2">シミュレーション終了年齢</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="params : ${params}">
                        <td colspan="3" th:if="${params.advancedSetting.annualChangeMonth != 0}" th:text="'つみたて月額を' + ${params.advancedSetting.annualChangeMonth} + 'か月ごとに' + ${params.advancedSetting.annualChangeMoney} + '万円増やす'"></td>
                        <td colspan="2" th:if="${params.advancedSetting.endingAge != 0}" th:text="${params.advancedSetting.endingAge} + '歳'"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div  class="chartContainer">
            <canvas id="myLineChart"></canvas>
            <p>※当該評価は過去の一定期間の実績の分析結果を元に予測したものであり、 将来の運用成果等を保証したものではありません。</p>
        </div>

        <!-- シミュレーショングラフ -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>  <!-- Chart.bungle.js読み込み　-->
        <script th:inline="javascript">
            var ctx = document.getElementById("myLineChart").getContext('2d');  // ctx:キャンバス
            var myLineChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: /*[[${monthCountList}]]*/,
                    datasets: [
                        {
                            label: '上位30%',
                            data: /*[[${top30Percent}]]*/,
                            borderColor: '#e14024a9',
                            backgroundColor: "rgba(0,0,0,0)"
                        },
                        {
                            label: '中央値',
                            data: /*[[${median}]]*/,
                            borderColor: '#f8b500a9',
                            backgroundColor: "rgba(0,0,0,0)"
                        },
                        {
                            label: '下位30%',
                            data: /*[[${bottom30Percent}]]*/,
                            borderColor: '#73cf54a9',
                            backgroundColor: "rgba(0,0,0,0)"
                        },
                        {
                            label: '下位10%',
                            data: /*[[${bottom10Percent}]]*/,
                            borderColor: '#70c4e0a9',
                            backgroundColor: "rgba(0,0,0,0)"
                        },
                        {
                            label: '運用なし',
                            data: /*[[${noOperation}]]*/,
                            borderColor: '#666c67a9',
                            backgroundColor: "rgba(0,0,0,0)"
                        }
                    ],
                },

                // グラフ設定
                options: {
                    title:{ // グラフ上部に表示
                        display: true,
                        text: '資産額推移'
                        　},
                    
                    scales: {
                        yAxes: [{ // Y軸設定 
                            ticks: {
                                suggestedMax: /*[[${suggestedMax}]]*/, //縦軸最大値
                                suggestedMin: 0, //縦軸下限0
                                stepSize: /*[[${stepSize}]]*/, //目盛の間隔
                                callback: function(value, index, values){
                                    return  value +  '万円' //縦軸の単位
                                }
                            }
                        }]
                    },
                }
            });
        </script>

        <script type="text/javascript">
            $(function(){
                const products = {
                    //リスト化
                    "mitsui_dc": { expectedRateOfReturn: 19.117, volatility: 8.677, name: '三井住友・DCつみたてNISA・日本株インデックスファンド' },
                    "mitsubishi_emaxis": { expectedRateOfReturn: 9.564, volatility: 10.639, name: 'eMAIXISバランス(8資産均等型)' },
                    "nomura_nomu": { expectedRateOfReturn: 10.852, volatility: 14.521, name: 'のむラップ・ファンド(積極型)' },
                    "mitsui_smtam": { expectedRateOfReturn: 17.167, volatility: 20.659, name: 'SMTAMダウ・ジョーンズ インデックスファンド' },
                    "amova_s&p500": { expectedRateOfReturn: 18.553, volatility: 21.038, name: '上場インデックスファンド米国株式(S&P500)' },
                    "daiwa_iFree": { expectedRateOfReturn: 11.003, volatility: 18.989, name: 'iFreeETF JPX 日経400' }
                };

                // 任意の組み合わせの相関係数
                const rhoMatrix = {
                    "mitsui_dc,mitsubishi_emaxis": 0.8738,
                    "mitsui_dc,nomura_nomu": 0.8620,
                    "mitsui_dc,mitsui_smtam":0.7803,
                    "mitsui_dc,amova_s&p500":0.2370,
                    "mitsui_dc,daiwa_iFree":0.9949,
                    "mitsubishi_emaxis,nomura_nomu": 0.9613,
                    "mitsubishi_emaxis,mitsui_smtam": 0.8611,
                    "mitsubishi_emaxis,amova_s&p500": 0.2112,
                    "mitsubishi_emaxis,daiwa_iFree": 0.8580,
                    "nomura_nomu,mitsui_smtam": 0.9406,
                    "nomura_nomu,amova_s&p500": 0.2420,
                    "nomura_nomu,daiwa_iFree": 0.8606,
                    "mitsui_smtam,amova_s&p500": 0.2649,
                    "mitsui_smtam,daiwa_iFree": 0.8030,
                    "amova_s&p500,daiwa_iFree": 0.2679
                };
                
                $("#SelectFunds").dialog({
                    autoOpen:false,
                    width:900,
                    height:600,
                    modal:true,
                    buttons:{
                        "選択":function(){
                            const SelectedProducts = $('input:checkbox[name="productName"]:checked').map(function(){ return this.value; }).get(); // 複数選択を取得、値の配列に変換
                            if(SelectedProducts.length === 0){
                                alert("少なくとも1つ選んでください");
                                return;
                            }
                            if(SelectedProducts.length > 2){
                                alert("選べるのは2つまでです");
                                return;
                            }
    
                            //選択された商品名を表示
                            $("#productName").html(SelectedProducts.map(p => products[p].name).join(", ")); //商品名をカンマ区切りで表示
    
                            // 商品が1つだけ選ばれた場合
                            if(SelectedProducts.length === 1){
                                $(".selectedFundName").show();
                                
                                const p = products[SelectedProducts[0]];
                                
                                $("#selectedFund1").text(p.name);
                                $("#selectedFund2").text(""); 
                                
                                $("#expectedRateOfReturn").val(p.expectedRateOfReturn.toFixed(3));
                                $("#volatility").val(p.volatility.toFixed(3));
                            }

                            //商品が2つ選ばれた場合
                            else if(SelectedProducts.length === 2){
                                $(".selectedFundName").show();
                                $(".weightInputs").show();
                                
                                $("#selectedFund1").text(products[SelectedProducts[0]].name);
                                $("#selectedFund2").text(products[SelectedProducts[1]].name);

                                $("#FundOKButton").click(function(){
                                    //2商品の比率
                                    const weight1 = parseFloat($("#weight1").val()) / 100;
                                    const weight2 = parseFloat($("#weight2").val()) / 100;
    
                                    // 期待収益率の加重平均
                                    const expectedRateOfReturn = products[SelectedProducts[0]].expectedRateOfReturn * weight1 + products[SelectedProducts[1]].expectedRateOfReturn * weight2;
    
                                    // リスクの計算（相関係数考慮）
                                    const sigma1 = products[SelectedProducts[0]].volatility;
                                    const sigma2 = products[SelectedProducts[1]].volatility;
                                    const key = [SelectedProducts[0], SelectedProducts[1]].sort().join(",");
                                    const rho = rhoMatrix[key] || 0;
                                    // 共分散
                                    const volatility = Math.sqrt(
                                        (weight1*sigma1)*(weight1*sigma1) + (weight2*sigma2)*(weight2*sigma2) + 2*weight1*weight2*sigma1*sigma2*rho
                                    );
                                    
                                    $("#expectedRateOfReturn").val(expectedRateOfReturn.toFixed(3));
                                    $("#volatility").val(volatility.toFixed(3));
                                });
                            }
                            
                            $("#SelectFunds").dialog("close");
                        },
                        // ダイアログの非表示 
                        "閉じる":function(){
                            $("#SelectFunds").dialog("close");
                        }
                      }
                    });
                    
                    // ダイアログを表示
                    $("#productSelectionButton").click(function(){
                        $("#SelectFunds").dialog("open");
                    });
        
                    // ライフプランの表示非表示
                    $("#lifeEventsButton").click(function(){
                        $(".lifeEvents").toggleClass("display");
                    });
        
                    //  詳細設定の表示非表示
                    $("#advancedSettingButton").click(function(){
                        $(".advancedSetting").toggleClass("display");
                    });

            });
        </script>
    </body>
</html>
